body { padding: 0;
   margin: 0;
  }

#Canvas {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1%;
  border: solid black;
  }

h1 {
  text-align: center;
  font-style: italic;
  font-size: 50px;
  color: black;
}
/* .button_pause {
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}
.button_pause a {
  background: linear-gradient(rgb(137, 6, 6),red);
  border: 3px solid black;
  border-radius: 80px;
  color: white;
  display: inline-block;
  margin: -2%;
  padding: 14px;
  text-decoration: none;
  width: 20%;
  font-weight: bold;
  font-size: 20px;
}
*/
